img {
    width: 90%;
    height: 230px;
    margin: 10px 15px;
}

.charaters {
    position: relative;
    width: 23%;
    float: left;
    height: 300px;
    margin-left: 25px;
    background-color: darkred;
}

.health {
    top: 250px;
    padding-top: 3px;
    position: absolute;
    width: 40%;
    background-color: white;
    height: 30px;
    margin-left: 15px;
    text-align: center
}

.damage {
    top: 250px;
    padding-top: 3px;
    position: absolute;
    right: 15px;
    width: 40%;
    background-color: white;
    height: 30px;
    text-align: center;
}

#heroRoom {
    /* width: 100%; */
    background-color: gold;
    height: 300px;
}

#badGuyRoom {
    width: 100%;
    background-color: black;
    height: 300px;
}

#results {
    width: 100%;
    background-color: khaki;
    height: 250px;
}

#pickYourFighter {
    width: 100%;
    height: 300px;
    background-color: skyblue;
    margin: 0 auto;
}